@import "../../../util/colors.scss";

.section {
  background-color: $bg-main;
  background-color: var(--bg-main);
  &-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    &-content {
      width: 100%;
      max-width: 1280px;
      height: 100%;
    }
  }
}
