@import "../../util/colors.scss";

header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  padding: 0.3rem 0;
  color: $ft-white;
  color: var(--ft-white);
  justify-content: space-between;
  align-items: center;
  nav {
    span {
      font-weight: 300;
      margin: 0 3rem;
    }
  }
}
