@import "../../util/colors.scss";

header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    &-logo {
      width: 43px;
      margin-right: 20px;
    }
    &-title {
      width: 110px;
    }
  }
  nav {
    a {
      text-decoration: none;
    }
    span {
      font-weight: 300;
      font-size: 1.2rem;
      margin-left: 5rem;
      color: $ft-white;
      color: var(--ft-white);
    }
  }
}
